<!-- views/contacs/show.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class="container-fluid contact contact-show">
        <div>

          <img class="show-photo" src="/images/photo/<%= contact.class %>_<%=contact.name%>.png">

        </div>
        <h2><%= contact.class %>기 <%= contact.name%></h2>
        <div>
          <tabel>
            <tr>
              <td>&nbsp</td>
              <td><a href="sms:<%= contact.phone %>"><img src="/images/sms.png"></a></td>
              <td>&nbsp</td>
            </tr>
          </table>
        </div>
        <div>
          <label>tel. : </label><span><%= contact.phone %>  </span><a href="tel:<%= contact.phone %>"><img src="/images/phone-call.png"></a>
        </div>
        <div>
          <label>e-mail : </label><span><%= contact.email %>  </span><a href="mailto:<%= contact.email %>"><img src="/images/mail.png"></a>
        </div>
        <div>
          <label>교회 : </label><span><%= contact.church %></span>
        </div>
        <div>
          <label>학교 : </label><span><%= contact.school %> <%= contact.major %></span>
        </div>
        <div>
          <label>소속 : </label><span><%= contact.now %></span>
        </div>
        <div>
          <label>지역 : </label><span><%= contact.location %></span>
        </div>
<!--
        <div class="contact-menu">
          <a class="btn btn-default" href="/contacts">Back</a>
          <a class="btn btn-default" href="/contacts/<%= contact._id %>/edit">Edit</a>
          <form action="/contacts/<%= contact._id %>?_method=delete" method="post">
            <a class="btn btn-default" href="#" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
          </form>
        </div>
      </div>-->
  </body>
</html>
